
/* Copyright 2008 Google Inc. All Rights Reserved. */

.google-visualization-table-table {
  font-family: arial, helvetica;
  font-size: 10pt;
  cursor: default;
  margin: 0;
  background: white;
  border-spacing: 0;
}

.google-visualization-table-table tbody {
  background: transparent;
}

.google-visualization-table-table * {
  margin: 0;
  vertical-align: middle;
  padding: 2px;
}

.google-visualization-table-tr-head, .google-visualization-table-tr-head td, .google-visualization-table-tr-head-nonstrict {
  font-weight: bold;
  text-align: center;
}

.google-visualization-table-tr-even, .google-visualization-table-tr-even td, .google-visualization-table-tr-even-nonstrict {
  background-color: #fff;
}

.google-visualization-table-tr-odd, .google-visualization-table-tr-odd td, .google-visualization-table-tr-odd-nonstrict {
  background-color: #fafafa;
}

.google-visualization-table-tr-sel, .google-visualization-table-tr-sel td, .google-visualization-table-tr-sel-nonstrict {
  background-color: #d6e9f8;
}

.google-visualization-table-tr-over, .google-visualization-table-tr-over td, .google-visualization-table-tr-over-nonstrict {
  background-color: #e7e9f9;
}

.google-visualization-table-sorthdr {
  cursor: pointer;
}

.google-visualization-table-sortind {
  color: #ccc;
  font-size: 9px;
  padding-left: 6px; /* do not chage - see table.js */
}

.google-visualization-table-th {
  border: 1px solid #eee;
  padding: 6px;
}

.google-visualization-table-th-webkit td, .google-visualization-table-th-webkit-nonstrict {
  background-color: #fff;
  border: 1px solid #eee;
  padding: 6px;
}

.google-visualization-table-td-freeze-rightmost {
  border-right-width: 4px;
}

.google-visualization-table-td {
  border: 1px solid #eee;
  padding-right: 3px;
  padding-left: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
}

.google-visualization-table-td-bool {
  text-align: center;
  font-family: Arial Unicode MS, Arial, Helvetica;
}

.google-visualization-table-td-center {
  text-align: center;
}

.google-visualization-table-td-number {
  text-align: center;
  white-space: nowrap;
}

.google-visualization-table-seq {
  text-align: right;
  color: #666;
}

.google-visualization-table-div-page {
  margin: 2px 0 0 0;
  padding: 0;
}

.qq-uploader {
    width: 100px;
    float: right;   
    margin: 1px 15px 1px 0;
}
.qq-upload-button {
    padding: 5px; text-align:center;
    background: #cccccc; border:1px solid #333333;
    width: 100px;
    font-size: 12px; color: black;

    
}
.qq-upload-button-hover {background: #cccccc;}
.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#FF9797; text-align:center; 
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list {margin:15px 35px; padding:0; list-style:disc;}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}